---
http_interactions:
- request:
    method: post
    uri: https://core.spreedly.com/v1/payment_methods.json
    body:
      encoding: UTF-8
      string: '{"payment_method":{"credit_card":{"first_name":"John","last_name":"Doe","number":"4111111111111111","verification_value":"123","month":12,"year":2029},"retained":true}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<SPREEDLY_BASIC_AUTH>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"67a1fe1b041275837c01505367e40bcf"
    body:
      encoding: UTF-8
      string: '{"transaction":{"token":"0Y7TVZF98Y9RWR54NCYNA7MBMF","created_at":"2026-06-26T11:41:07Z","updated_at":"2026-06-26T11:41:07Z","succeeded":true,"transaction_type":"AddPaymentMethod","retained":true,"state":"succeeded","message_key":"messages.transaction_succeeded","message":"Succeeded!","payment_method":{"token":"01KW1VQKE37ZX05B07BSKMV73Z","created_at":"2026-06-26T11:41:07.395Z","updated_at":"2026-06-26T11:41:07.395Z","email":null,"data":null,"storage_state":"retained","test":true,"metadata":null,"callback_url":null,"last_successfully_used":null,"last_four_digits":"1111","first_six_digits":"411111","card_type":"visa","first_name":"John","last_name":"Doe","month":12,"year":2029,"address1":null,"address2":null,"city":null,"state":null,"zip":null,"country":null,"phone_number":null,"company":null,"full_name":"John
        Doe","eligible_for_card_updater":true,"shipping_address1":null,"shipping_address2":null,"shipping_city":null,"shipping_state":null,"shipping_zip":null,"shipping_country":null,"shipping_phone_number":null,"issuer_identification_number":"41111111","click_to_pay":false,"managed":true,"bin_metadata":{"message":"BIN
        Metadata is available only to Advanced Vault enrolled customers and payment
        methods. Reach out to your account representative for more details."},"subscribed_to_mastercard_abu":false,"payment_method_type":"credit_card","errors":[],"fingerprint":"77ed9d440de08f530960d1b5b03431efafcb","verification_value":"XXX","number":"XXXX-XXXX-XXXX-1111"}}}'
  recorded_at: Fri, 26 Jun 2026 11:40:40 GMT
recorded_with: VCR 6.4.0
